/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* body */
body
{
    background-color: #121214;
}

@media screen and (max-width: 2000px)
{
    .title
    {
        text-align: center;
        color: #fff;
        font-family: 'Koulen', cursive;
        margin-top: 10px;
    }
    .grid-container
    {
        position: absolute;
        width: 350px;
        height: 420px;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        gap: 5px;
        padding: 10px;
        grid-template-columns: repeat(5, 1fr);
        box-sizing: border-box;
    }
    .grid-item
    {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        vertical-align: middle;
        box-sizing: border-box;
        color: white;
        border: 2px solid white;
        text-transform: uppercase;
        user-select: none;
    }

    .grid-item::before 
    {
        content: '';
        display: inline-block;
        padding-bottom: 100%;
    }

    .find-button
    {
        color: #fff;
        background-color: #818384;
        border: none;
        font-family: 'Koulen', cursive;
        border-radius: 5px;
        height: 4%;
        width: 10vw;
        position: absolute;
        top: 60%;
        left: 45%;
        transform: translate(-50%, -50%);
        margin-right: 10px;
    }

    .clear-button
    {
        color: #fff;
        background-color: #818384;
        border: none;
        font-family: 'Koulen', cursive;
        border-radius: 5px;
        height: 4%;
        width: 10vw;
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translate(-50%, -50%);
        margin-left: 10px;
    }

    .answer-container
    {
        background-color: #fff;
        height: 10%;
        width: 25%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 7px;
    }

    .best-guess
    {
        text-align: center;
        font-family: 'Koulen', cursive;
        font-size: 25px;
    }

    .best-guess-answer
    {
        text-align: center;
        font-family: 'Koulen', cursive;
    }

    .error-container
    {
        background-color: #818384;
        height: 5%;
        width: 10%;
        position: absolute;
    }

    .error-text
    {
        color: #fff;
        font-family: 'Koulen', cursive;
    }
}

/* @media screen and (min-width: 600px)
{
    .title
    {
        text-align: center;
        color: #fff;
        font-family: 'Koulen', cursive;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px)
{
    .title
    {
        text-align: center;
        color: #fff;
        font-family: 'Koulen', cursive;
        margin-top: 10px;
    }
} */
